<header class="header">
    <a routerLink="/home" class="logo">s|e|n|d</a>
    <div class="spacer"></div>
    <a routerLink="/news" class="nav-link">github</a>
    <a routerLink="/news" class="nav-link">log in</a>
    <a routerLink="/news" class="nav-link">register</a>
    <a routerLink="/news" class="nav-link">profile</a>
    <a routerLink="/news" class="nav-link">news</a>
    <a routerLink="/news" class="nav-link">log out</a>
    <div class="theme-control">
        <a (click)="showThemes()" *ngIf="!themes"><mat-icon>brightness_medium</mat-icon></a>
        <div class="themes" *ngIf="themes">
            <button class="theme-btn dark" (click)="setTheme('dark')"></button>
            <button class="theme-btn light" (click)="setTheme('light')"></button>
            <button class="theme-btn indigo" (click)="setTheme('indigo')"></button>
            <button class="theme-btn tropic" (click)="setTheme('tropic')"></button> 
        </div>
    </div>
</header>