.dark{
    --color1: black;
    --color2: whitesmoke;
}
.light{
    --color1: whitesmoke;
    --color2: black;
}
.wine{
    --color1: #cf082a;
    --color2: whitesmoke;
}
.gold{
    --color1: #101820FF;
    --color2: #F2AA4CFF;
}