<div class="main">
    <div class="post" *ngFor="let post of news">
        <a routerLink="/news/{{post._id}}">
            <div class="body">
                <p class="title">{{post.title}}</p>
                <p class="article">{{post.article}}</p>
            </div>
            <div class="bottom">
                <div class="info">
                    <div 
                        class="img"
                        style="background-image: url({{post.authorImage}});" 
                    ></div>
                    <p class="author">{{post.authorName}}</p>
                </div>
                <div class="short-info">
                    <div class="comments">
                        <mat-icon>comment</mat-icon>
                        <p class="likes">{{post.comments.length}}</p>
                    </div>
                </div>

            </div>
        </a>   
    </div>
</div>
