.dark{
    --color1: black;
    --color2: whitesmoke;
}
.light{
    --color1: whitesmoke;
    --color2: black;
}
.indigo{
    --color1: #00425A;
    --color2: #1F8A70;
    --color3: #BFDB38;
    --color4: #FC7300;
}
.tropic{
    --color1: #344D67;
    --color2: #6ECCAF;
    --color3: #ADE792;
    --color4: #F3ECB0;
}