.main{
    width: 100%;
    min-height: 75vh;
    background-color: var(--color2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.welcome{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5em;
    color: var(--color1);
}
.pre-img{
    width: 12vh;
    height: 12vh;
    border-radius: 200px;
    background-color: var(--color2);
    border: 1px solid var(--color1);
    object-fit: cover;
    background-size: cover;
}
form{
    width: 40vh;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.form-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.form-group label{
    color: var(--color1);
}
.form-group input{
    width: 100%;
    height: 5vh;
    outline: none;
    padding: 5px;
    border: 1px solid var(--color1);
    color: var(--color1);
    font-size: 1.3em;
    border-radius: 5px;
    background-color: var(--color2);
}