<div class="main">
    <div class="img"
        style="background-image: url({{post.postImage}});">
    </div>
    <p class="title">{{post.title}}</p>
    <p class="author">by {{post.authorName}}</p>
    <p class="article">{{post.article}}</p>
    <div class="info">
        <a class="comments">
            <mat-icon>comments</mat-icon>
            <p>Comments</p>
            <mat-icon>comments</mat-icon>
        </a>
    </div>
    <div class="divider"></div>
    <div *ngFor="let comment of post.comments" class="com">
        <div class="comment-img">
            <div class="sam-img" style="background-image: url({{comment.img}});"></div>
        </div>
        <p class="comment-name">{{comment.author}}:</p>
        <p class="comment-article">{{comment.text}}</p>
    </div>
    <p class="leave-comment">Leave your comment:</p>
    <form class="add-comment" onsubmit="submit()">
        <textarea [(ngModel)]="commentArticle" name="commentArticle"></textarea>
        <button type="submit" (click)="submit()">Add comment</button>
    </form>
</div>